body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Prevent scrollbar on the welcome page */
}

.welcome-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #3498db, #87CEFA); /* Blue to lightblue gradient */
    color: #fff;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.continue-btn {
    padding: 10px 20px;
    font-size: 1.5em;
    background: #fff;
    color: #3498db;
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.continue-btn:hover {
    background: #3498db;
    color: #fff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    max-width: 800px; /* Set a maximum width for the gallery */
    margin: 0 auto; /* Center the gallery horizontally */
}

.image-item {
    list-style: none;
    margin: 10px;
    cursor: pointer;
    position: relative;
    flex: 0 0 calc(33.33% - 20px); /* Set a percentage width for each image item with some margin */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay:hover {
    opacity: 1;
}

.overlay-text {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Add a light gray border around the images */
    border-radius: 5px; /* Optional: Add rounded corners to the images */
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.enlarged-image {
    width: 70%;
    height: auto;
    margin: auto;
    display: block;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

#prev-btn,
#next-btn {
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}
